{% macro title(value) %}

 <h1> {{value}} page </h1>

{% endmacro%}


{% macro input_field(name , type='text' , placeholder='') %}
    <label for="">{{name | title}} </label>
    <input type="{{ type }}" name=""{{ name }} placeholder="{{ placeholder }}">
    <br></br> 

{% endmacro%}

{% macro card(name, role) %}

    <div>
        <h1>Name: {{name}}</h1>
        <h2>Role: {{role}}</h2>

        <div>
            <h1>Projects</h1>
            {{caller()}}   
        </div>
    </div>

{% endmacro %}

